.main{
    display: flex;
    background-image: url(../../../image/background.png);
    flex-direction: row-reverse;

}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #000;
    width: 75%;
    height: 432px;
    margin-top: 105px;  
}

.section1 p{
    color: #fff;
    font-size: 25px;
    text-align: right;
    font-weight: 600;
}


.imageOne .quotes{
    height: auto;
    width: 41px;
}

.imageOne .crossImg {
    height: auto;
    width: 102px;
}

.section1 .quotes{
    position: relative;
    bottom: 111px;
    left: 16px;
}

.crossImg{
    position: relative;
    top: 101px;
    right: 592px;
}


@media (max-width:1263px){
    .main div .meeting{
        height: auto;
        width: 409px;
    }

    .section1{
        margin-top: 38px;
        justify-content: right;
    }
}

@media (max-width:1116px){
    .main div .meeting{
        height: auto;
        width: 380px;
    }

    .section1{
        width: 75%;
        height: 362px;
        margin-top: 48px;
    }

    .section1 p{
        margin-left: 29px;
    }
   
}

@media(max-width:1101px) {
    .main div .meeting{
        height: auto;
        width: 336px;
    }

    .section1{
    height: 335px;
    margin-top: 40px;
    }
    
}

@media(max-width:1066px) {
    .meeting{
    height: auto;
    width: 294px;
    }

    .section1{
    height: 269px;
    margin-top: 66px;
    }

    .crossImg{
    height: 73px;
    width: 86px;
    top: 84px;
    right: 578px;
    }

    .quotes{
        bottom: 111px;
        left: 45px;
    }
}

@media(max-width:1044px) {
    .main{
        flex-direction: row-reverse;
        justify-content: right;
        align-items: center;
    }

    .section1{
        width: 100%;
        margin-top: 0px;
    }

    .crossImg{
    top: 80px;
    right: 519px;
    }

    .section1 .quotes{
        left: 52px;
    }

    .section1 p{
        font-size: 22px;
    }

    .main div .meeting{
        width: 289px;
    }
}

@media(max-width:921px){
    .section1 p{
        font-size: 16px;
        font-weight: 600;
    }

    .crossImg{
    top: 68px;
    right: 395px;
    }

    .section1 .quotes{
    left: 43px;
    top: -74px;
    width: 37px;
    }

    /* .quotes{
        left: 37px;
        top: -70px;
        width: 33px;
    } */
}

@media(max-width:798px){
    .main div .meeting{
        width: 253px;
    }
}

@media(max-width:633px) {
    .main div .meeting{
        height: auto;
        width: 253px;
    }

    .section1 p{
        font-size: 19px;
        font-weight: 500;
    }

    .crossImg{
    top: 73px;
    right: 455px;
    }

    .quotes{
        bottom: 85px;
        left: 43px;
    }
}

@media(max-width:754px) {
    .main div .meeting{
        width: 234px;
    }

    .section1{
        height: 231px;
    }

    .section1 p{
        margin-right: -51px;
    }

    .crossImg{
        right: 344px;
    }
}


@media(max-width:682px){
    .section1 p{
        font-size: 13px;
    }

    .crossImg{
        right: 282px;
        top: 62px;
    }
}

@media(max-width:618px){
    .main{
        /* align-items: center;
        justify-content: center; */
        flex-direction: column;
    }

    .section1{
        justify-content: center;
    }
}


@media(max-width:386px){

    .section1 p {
        font-size: 11px;
    }

    .crossImg{
        right: 228px;
        top: 49px;
        width: 69px;
        height: 59px;
    }
}

@media(max-width:344px) {
   .section1 .quotes{
    display: none;
   }

   .main div .meet{
    width: 201px;
   }

   .crossImg{
    display: none;
   }

   .section1 p{
    margin-left: 0px;
    text-align: left;
    margin-right: 0px;
    font-size: 12px;
   }
}