.bgImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-image: url("../../../image/background.png");
    background-position-x: center;
    text-align: center;
}
.flexible{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 931px;
height: 185px;
}

.heading p{
color: #000;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 46.815px; /* 133.758% */
}

.desc p{
color: #525252;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 37px; /* 185% */
}

@media (max-width:734px){
    .heading p{
        font-weight: 600;
        font-size: 28px;
        line-height: 46.815px;
    }

    .desc p{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 37px; /* 185% */
        }
}

@media(max-width:591px) {
    .heading p {
        font-weight: 600;
        font-size: 22px;
        line-height: 29.815px;
    }

    .desc p {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }
}

@media(max-width:462px) {
    .heading p {
        font-weight: 600;
        font-size: 20px;
        line-height: 23.815px;
    }

    .desc p {
        font-size: 17px;
        line-height: 22px;
    }
}