.mainDiv{
    display: flex;
    padding: 60px 0px;
    background-image: url(../../../image/background.png);
}


.sectionOne{
 display: flex;
 width: 40%;
}

.sectionOne img{
    height: auto;
    width: 304.5px;               
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #000;
    width: 60%;
    height: 432px;
    margin-top: 105px;
}

.section2 p{
    color: #fff;
    font-size: 25px;
}

 .section2 .imgOne{
    margin-bottom: 300px;
}

.img2{
    margin-top: 100px;
    margin-right: 10px;
}

@media (max-width:1520px){
    .mainDiv{
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .section2{
        font-size: 28px;
        width: 100%;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
    }

    .sectionOne img{
        height: auto;
        width: 245.5px;                      
    }

    .sectionOne{
            justify-content: center;
            align-items: center;

    }
}

@media (max-width:1227px) {
    .sectionOne img{
        height: auto;
        width: 204.5px;                      
    }  
    
    .section2{
        height: 364px;
    }
}

@media(max-width:1046px){
    .sectionOne img{
        height: auto;
        width: 152.5px;                      
    }  
    
    .section2{
        height: 254px;
    }

    .section2 p{
        font-size: 16px;
        font-weight: 600;
    }

    .imgOne img{
        margin-top: 100px;
        width: 33px;
    }

    .img2 img{
    margin-top: 30px;
    margin-right: 7px;
    height: 69px;
    }
}

@media(max-width:766px){
    .sectionOne{
        width: 152.5px;
    }

    .section2{
        width: 60%;
        position: relative;
        left: 76px;
    }
}

@media(max-width:708px){
    .sectionOne img{
        width: 133.5px;
    }

    .section2{
        left: 57px;
        height: 235px;
    }

    .section2 p{
        font-size: 13px;
    }

    .imgOne img{
        margin-top: 129px;
    }

    .img2 img{
        margin-top: 18px;
    }
}

@media(max-width:618px){
    .mainDiv{
        flex-direction: column;
    }

    .section2{
        position: static;
        left: 0px;
        width: 100%;
    }
}

@media(max-width:378px){
    .sectionOne img{
        width: 100.5px;
    }

    .section2 p{
        font-size: 11px;
    }

    .imgOne img{
        margin-top: 147px;
    }

    .img2 img{
        height: 56px;
    }
}


@media(max-width:338px){
    .imgOne img{
        display: none;
    }

    .img2 img{
        display: none;
    }

    .section2 p{
        font-size: 12px;
    }
}


/* 
@media (max-width:665px) {
    .sectionOne img{
        height: auto;
        width: 200.5px;                      
    }

    .section2 p {
        font-size: 20px;
    }

    .section2 .imgOne{
        margin-bottom: 250px;
    }

    .img2{
        margin-top: 90px;
        margin-right: 10px;
    }
}

@media(max-width:539px) {
    .section2 p {
        font-size: 18px;
    }

    .section2 .imgOne{
        height: 20px;
        width: 50px;
    }

    .img2{
    height: 56px;
    width: 62px;
    margin-top: 35px;
    margin-right: 10px;
    }

}

@media (max-width:451px){
    .sectionOne img{
        height: auto;
        width: 150.5px;                      
    }

    .section2 p {
        font-size: 20px;
    }

    .imgOne{
        display: none;
    }

    .img2{
        display: none;
    }
}

@media(max-width:374px){
    .sectionOne img{
        height: auto;
        width: 110.5px;                      
    }

    .section2 p {
        font-size: 15px;
    }

    .section2{
        height: 300px;
    }
} */











