.mainDiv{
    /* margin: 5px 40px; */
}

.actionButton{
    display: flex;
    gap: 10px;
}

.actionButton .salon{
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
}

.actionButton .doorBuddy{
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
}

.secDiv{
    display: flex;
    gap: 40px;
    background-color: #fff;
    border: 2px solid #909090;
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px 20px;
    width: fit-content;
}

.secDiv .day{
    font-size: 20px;
    font-weight: bold;
    width: 40px;
}

.height {
    line-height: 13px;
}

.height span{
    color: #909090;
    font-size: 15px;
}

.height .spanOne{
    font-size: 12px;
}

.height .spanTwo{
    font-size: 11px;
}

.secDiv .timeDiv{
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
    /* gap: 80px; */
    border: 2px solid #C4C4C4;
    border-radius: 17.111px;
    padding: 5px 20px;
    margin-left: 140px;
    /* margin-left: auto; */
    /* margin-right: 100px; */
}
.secDiv .timeDi{
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
    /* gap: 80px; */
    border: 2px solid #C4C4C4;
    border-radius: 17.111px;
    padding: 5px 20px;
    /* margin-left: auto; */
    /* margin-right: 100px; */
}
@media(max-width:575px){
    .secDiv .timeDiv{
        padding: 0;
    }
}
.timeDiv div .spanOne{
    display: block;
    outline: none;
    border: none;
   width: fit-content;
   padding-bottom: 4px;
   font-size: 14px;
   color: 
   #808080;
}
@media (max-width:575) {
    .timeDiv div .spanOne input{
        width: 50px !important;
    }
}
.timeDiv .timeIcon{
    font-size: 25px;
}
.timeDi div .spanTwo{
    display: block;
    outline: none;
    border: none;
   width: fit-content;
   padding-bottom: 4px;
   font-size: 14px;
color: 
#808080;
}
.circleDiv{
    border: 2px solid #BEBEBE;
    border-radius: 19px;
    text-align: start;
    height: auto;
    width: 60px;
}

.circleDiv .blackCircle{
    font-size: 28px;
    padding-left: 2px;
    padding-right: 2px;
    
}
.addTime{
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
}

@media(max-width:1448px){
    .secDiv{
    }
}

@media(max-width:1200px){
  .secDiv .timeDiv{
       padding: 8px 20px;
    }
    @media(max-width:991px){
        .secDiv .timeDiv{
         width: 100px; } 
    }  
    @media(max-width:767px){
        .secDiv .timeDiv{
         width: 80px;
         margin-left: 40px;
         } 
    }  
    @media(max-width:575px){
        .secDiv .timeDiv{
            font-size: 10px;
            margin-left: 2px;
            width: 62px;
         } 
    } 
}

@media(max-width:1180px){
    .secDiv{
        gap: 81px;
    }
}

@media(max-width:1030px){
    .secDiv{
        gap: 54px;
    }

    .timeDiv{
        gap: 31px;
    }
}

@media(max-width:911px){
    .secDiv .day{
        font-size: 17px;
    }
    
    .secDiv{
        gap: 31px;
    }

    .timeDiv{
        gap: 15px;
    }
}

@media(max-width:766px){
    .actionButton{
       justify-content: center;
       margin-top: 10px;
    }
}

@media(max-width:667px){
    .secDiv .day{
        font-size: 14px;
        margin-left: 10px;
    }

    .timeDiv{
        padding: 3px 5px;
        border-radius: 12.111px;
    }

    .timeDiv .spanOne{
        font-size: 11px;
        margin-left: -14px;
    }

    .timeDiv .spanTwo{
        font-size: 9px;
    }

    .timeDiv .timeIcon{
        font-size: 19px;
    } 
}

@media(max-width:604px){
    .timeDiv{
        gap: 8px;
    }

    .secDiv{
        gap: 15px;
        padding: 5px 0px;
    }

    .height{
        line-height: 8px;
    }

    .circleDiv{
        height: auto;
        width: 50px;
    }
}

@media(max-width:536px){
    .secDiv .day{
        font-size: 11px;
        margin-top: 13px;
    }

    .secDiv{
        gap: 7px;
    }

    .timeDiv{gap: 3px;}
}

@media(max-width:510px){
    .mainDiv{
        margin: 0px 0px;
    }

    .secDiv{
        gap: 31px;
    }

    .timeDiv{
        gap: 7px;
    }
}

@media(max-width:486px){
        .secDiv{
            gap: 19px;
        }
    
        .timeDiv{
            gap: 7px;
        }
    
}

@media(max-width:455px){
    .secDiv{
        gap: 10px;
    }

}

@media(max-width:419px){
    .secDiv{
        gap: 5px;
    }

    .timeDiv{
        gap: 4px;
    }
}

@media(max-width:419px){
    .secDiv{
        gap: 18px;
    }

    .timeDiv{
        gap: 5px;
    }
}

@media(max-width:361px){
    .secDiv{
        gap: 10px;
    }

    .timeDiv{
        gap: 4px;
    }

}

.addTime{
    float: right;
    margin-top: 10px;
}
.form{
    display: column;
    align-items: center;
    justify-content: center;
}













/* Salon time */

/* .icon {
    cursor: pointer;
    transition: color 0.3s ease;
    height: 40px;
    width: 50px;
  } */
  .circleDiv{
    border: 2px solid #BEBEBE;
    border-radius: 50px;
    text-align: start;
    height: auto;
    cursor: pointer;
    width: 80px;
}

.circleDiv .blackCircle{
    font-size: 28px;
    padding-left: 2px;
    padding-right: 2px;
    height: 37px;
    width: 37px;
    margin-top: 5px;
    
}
  .iconOpen {
    color: black;
  }
  
  .iconClose {
    color: grey;
  }