.date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    padding-top: 40px;
    color: #7A7A7A;
    font-weight: 600;
    font-size: 20px;
}
.calendar{
    border: 2px solid #D3D3D3;
    border-radius: 8px;
    width: 330px;
    height: 380px;
    margin-left: 60px;
    margin-top: -420px;
}
@media(max-width:1600px){
    .calendar{
        margin-left: auto;
        margin-top: -10px;
    }}
  @media(max-width:1399.9px){
    .calendar{
        /* margin-top: -345px; */
        margin-top: -10px;
    }
  }
@media(max-width:1199.9px){
    .calendar{
        margin-left: -40px;
    }
}
@media(max-width:991.9px){
    .calendar{
       width: 280px !important;
       margin-left: 180px !important;
      
    }
}
@media (max-width:1063.9px){
    .customDateCalendar{
        width: 250px !important;
        font-size: 15px !important;
        line-height: 15px;
    }
}
@media (max-width:991.9px){
    .customDateCalendar{
        width: 270px !important;
        
       
    }
}
@media(max-width:1063.9px){
    .calendar{
        width: 300px;
        height: 380px;
        margin-left: 0px;
    }}
    @media(max-width:991.9px){
        .calendar{
           margin-top: 0;
           margin-bottom: 20px !important;
           
        }}
        @media(max-width:991.9px){
            .calendar{
              display: none;
               
            }}
      .DatePicker{
        display: none;
        margin-left: 220px !important;
        padding-bottom: 10px !important;
      } 
      .DatePicker{
        display: none;
      }
      @media (max-width:991.9px){
        .DatePicker{
            display: block;
        }}
        @media (max-width:767.9px){
            .DatePicker{
                margin-left: 160px !important; 
            }}
.customDateCalendar .css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: #fff !important;
    background-color: #1976d2 !important;
    font-weight: 500 !important;
}
.hair{
    height: 60px;
    width: 60px;
    border-radius: 7px;
}
.mainDiv{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    margin-top: 20px;
}
.hairClinic{
    font-weight: bolder;
    font-size: 22px;
}

.info{
    font-weight: 500;
    font-size: 15px;
    color: #818181;
    text-align: center;
}

.btnDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.btnDiv p{
    font-size: 25px;
    font-weight: 600;
    color: #7A7A7A;
}
.btnDiv button{
    padding: 5px 90px;
    background-color: transparent;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    font-weight: 600;
}

.active{
    background-color: black !important;
    color: white;
}
.user{
    font-size: 8px;
    line-height: 11px;
    margin-bottom: -2px;
    
}
@media (max-width:1339px){
    .user{
       margin-left: -12px;
    }}

.userName{
    font-size: 10px;
    font-weight: 650;
}
@media (max-width:767.9px){
    .userName{
        font-size: 14px;
        margin-left: 7px;
    }}


.payment{
    font-size: 8px;
    line-height: 11px;
    margin-bottom: -2px;
    font-weight: 500;
    margin-left: 20px;
}
@media (max-width:1199px){
    .payment{
        margin-left: 0;
    }
}
@media (max-width:767.9px){
    .payment{
        margin-left: 10px;
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 2px;
    }}

.accept{
    color: #53AD34;
    background-color: white;
    font-weight: 500;
    padding: 0px 15px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-size: 12px;
   
}
@media (max-width:1199.9px){
    .accept{
        margin-left: -18px;
    }}
    @media (max-width:767.9px){
        .accept{
            margin-left: 0px;
        }}
.decline{
    color: #D82626;
    background-color: white;
    font-weight: 500;
    padding: 0px 15px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-size: 12px;
}

.userInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D3D3D3;
    padding: 20px 0px;
    border-radius: 8px;
    width: 400px !important;
    margin-top: -190px;
    margin-bottom: 70px;
}
@media (max-width:991.9px){
    .userInfo{
     margin-left: 50px !important;
    }
}
@media (max-width:767.9px){
    .userInfo{
      flex-direction: column;
     width: 500px !important;  }}
     @media (max-width:500.9px){
        .userInfo{
         margin-left: -20px !important;

        }}
    
.paymentType{
    color: #53AD34;
    font-weight: 500;
}
.Name{
    font-size: 10px;
    line-height: 8px;
    text-align: center;
    margin-top: 4px;
    font-weight: 500;
}
.service{
    font-size: 7px;
    color: #7A7A7A;
    text-align: center;
}
@media (max-width:767.9px){
    .user{
        font-size: 13px;
        line-height: 17px;
        margin-right: -50px;
    }}

.assign{
    height: 40px;
    width: 71px;
    margin-top: 10px;
   }
  
.clientDiv{
   border: 2px solid #D3D3D3;
   border-radius: 8px;
  margin-left: -10px;
}
.staffBtn{
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 10px;
}
.assignBtn{
    color: #53AD34;
    font-weight: 500;
    border: 1px solid #D3D3D3;
    background-color: white;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}
.cancelBtn{
    color: #D82626;
    border: 1px solid #D3D3D3;
    background-color: white;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}
.staffDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 5px;
}
.status{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #53AD34;
}
.gender{
    margin-left: 5px;
}
@media (max-width:1199.9px){
    .status{
        margin-left: -10px;
    }}
.status a{
    color: #7A7A7A;
    font-size: 10px;
    text-align: center;
}
.location{
    height: 17px;
    width: 20px;
    color: #7C7C7C;
  
}

.userImage{
    height: 90px;
    width: 120px;
}
@media (max-width:1399.9px){
    .userImage{
        height: 70px !important;
        width: 100px;
    }}
    @media (max-width:1199.9px){
        .userImage{
            width: 56px;
            margin-left: 10px;
        }}
        @media (max-width:767.9px){
            .userImage{
                width: 100px;
                
            }}
    
