.centered p{
    margin-bottom: 3px;
}
.accept{
    color: black; 
    background-color: white; 
    border: 2px solid black; 
    border-radius: 25px;
    padding: 10px 30px;
}
.status{
    font-weight: 470;
}
.serviceTime{
  margin-left: 11px;
}
 .status.pending {
    color: grey;
  }
  
  .status.accepted {
    color: green;
  }
  
  .status.rejected {
    color: red;
  }
  
  .status.completed {
    color: blue;
  }