.mainDiv{
    padding: 60px 60px;
    background-color: #fff;
    border-radius: 7px;
}

.imgDiv{
    display: flex;
    justify-content: space-between;
}

.text{
    color: #BEBEBE;
    font-size: 20px;
}

.text .icon {
    padding-bottom: 2px;
}

.lab{
    padding:10px 0px;
    color: black;
    font-weight: 600;
}

.inputs{
    padding: 5px 70px 5px 10px;
    color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
}

.email {
    padding: 5px 200px 5px 10px;
    color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
}

.dob{
    padding: 5px 20px 5px 10px;
    color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
}


@media (max-width:769px){
    .mainDiv{
        margin-top: 29px;
    }
}

@media (max-width:618px){
    .email {
        padding: 5px 70px 5px 10px;
    }
}

@media (max-width:496px){
    .email {
        padding: 5px 0px 5px 10px;
    }

    .inputs{
        padding: 5px 0px 5px 10px;
    }
    
    .email {
        padding: 5px 0px 5px 10px;
    }
    
    .dob{
        padding: 5px 0px 5px 10px;
    }
}


@media(max-width:437px){
    .imgDiv div img{
        height: auto;
        width: 150px;
    }

    .mainDiv{
        padding: 36px 23px;
    }
}

@media(max-width:364px){
    .email {
        padding: 5px 0px 5px 2px;
        width: 156px;
    }

    .inputs{
        padding: 5px 0px 5px 2px;
        width: 156px;
    }
    
    .email {
        padding: 5px 0px 5px 2px;
        width: 156px;
    }
    
    .dob{
        padding: 5px 0px 5px 2px;
        width: 156px;
    }
}
