.main {
    background-color: #000;
    justify-content: flex-end;
    padding: 104px 0px;
    gap: 30px;
    padding-left: 397px;
    padding-right: 30px;
}

.child {
    padding: 45px 20px;
    background-color: #fff;
    color: black;
    gap: 21px;
}

.flexDiv {
    /* margin-right: 27px; */
}

.textDiv {
    margin-top: 10px;
}



.child p {
    font-size: 20px;
    font-weight: 600;
}

.textDiv {
    line-height: 1px;
}

.imgDiv {
    width: 100px;
    height: auto;
}

 @media(max-width:1323px) {
    .child p {
        font-size: 17px;
        font-weight: 600;
    }
} 

@media(max-width:1283px) {
    .imgDiv {
        width: 123px;
        height: 81px;
    }
} 

@media(max-width:1200px) {
    .main {
        flex-direction: column;
        background-color: #000;
        justify-content: flex-end;
        align-items: center;
        padding: 57px 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .flexDiv {
        margin-right: 88px;
    }

    .textDiv {
        margin-right: 91px
    }

    .child {
        height: auto;
        width: 405px;
    }
}

@media(max-width:473px) {
    .flexDiv {
        margin-right: 4px;
    }

    .child {
        height: 279px;
        width: 303px;
        padding: 30px 11px;
    }
}

@media(max-width:368px) {
    .child {
        height: 265px;
        width: 267px;
        padding: 30px 11px;
        gap: 8px;
    }

    .child p {
        font-size: 15px;
        font-weight: 600;
    }

    .textDiv {
        margin-right: 47px;
    }

    @media(max-width:328px) {
        .child {
            height: 223px;
            width: 220px;
            gap: 0px;
        }

        .child p {
            font-size: 13px;
            font-weight: 620;
        }

        .textDiv {
            margin-right: 3px;
        }
    }
}