.form input{
    border-radius: 6px;
    border: 2px solid #858585;
    outline: none;
    height: 40px;
    width: 300px;
    padding-inline-start: 10px;
    margin-bottom: 3px;
}
@media (max-width:500px){
    .form input{
        width: 250px;
    }}

.textarea{
    border-radius: 6px;
    border: 2px solid #858585;
    padding: 10px 120px; 
    outline: none;
    margin-bottom: 3px;
    padding-inline-start: 10px;
}
@media (max-width:500px){
    .textarea{
        padding: 30px 40px; 
    }}
.form select{
    border-radius: 6px;
    border: 2px solid #858585;
    padding-right: 87px; 
    margin-bottom: 3px;
    height: 40px;
    width: 300px;
}
@media (max-width:500px){
    .form select{
        width: 250px;
    }}
.form .state{
    padding-right: 77px;
    margin-bottom: 3px;
}
.form .dropDown{
    padding-right: 110px;
    margin-bottom: 3px;
}
.form button{
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    padding: 5px 20px;
    border: 2px solid #858585;
    font-size: 12px;
}
.form{
    border: 2px solid #858585;
    padding: 10px 50px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (max-width:500px){
    .form{
        padding: 10px 20px;
    }
}
.form .continue{
    background-color: black;
    color: white;
    padding: 15px 120px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}
@media (max-width:500px){
    .form .continue{
     padding: 10px 80px;   
    }
}
.form p{
    margin-bottom: 4px;
    padding-inline-start: 6px;

}
.error{
    color: darkred;
    font-weight: 500;
}
.add{
    margin-left: 20px;
    height: 30px;
    width: 25px;
}