.mainSection {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}

.sectionCustomer p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}
.mainMeet{
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}
.sectionCustomer ul li {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}

.saloonService p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}

.saloonService ul li {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding-left: 1em;
  /* text-indent: -1em; */
}

ul li::before {
  /* content: "-"; */
  padding-right: 0.5em;
}
.meetSpan{
  color: #000000;
}