
.footer {
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  float: left;
  padding-top: 3px;
  align-items: center;
}

.logo img {
  height: 28px;
  width: 230px;
}

.main {
  margin-left: 50px;
}

@media (max-width:393.9px) {
  .footer {
    width: 104%;
  }
}

@media (max-width:393.9px) {
  .mainDiv {
    flex-direction: column;
  }
}

.website {
  margin-top: 47px;
  margin-left: -580px;
}

@media (max-width:888.9px) {
  .website {
    margin-left: -485px;
  }
}

@media (max-width:788.9px) {
  .website {
    margin-left: -430px;
  }
}

@media (max-width:728.9px) {
  .website {
    margin-left: -320px;
  }
}

@media (max-width:494.9px) {
  .website {
    margin-left: -280px;
  }
}

@media (max-width:443.9px) {
  .website {
    margin-left: -220px;
  }
}

@media (max-width:393.9px) {
  .website {
    margin-left: -260px;
  }
}

.list {
  display: flex;
  list-style: none;
  color: white;
  padding: 0;
  gap: 50px;

}

@media (max-width:888.9px) {
  .list {
    gap: 25px
  }
}

@media (max-width:788.9px) {
  .list {
    gap: 10px
  }
}

@media (max-width:728.9px) {
  .list {
    font-size: 12px;
    line-height: 10px;
  }
}

@media (max-width:629.9px) {
  .list {
    margin-left: -35px;
  }
}

@media (max-width:494.9px) {
  .list {
    font-size: 10px;
  }
}

@media (max-width:443.9px) {
  .list {
    font-size: 8px;
  }
}

@media (max-width:393.9px) {
  .list {
    font-size: 10px;
    margin-left: 5px;
  }
}

.list li {
  margin-top: 32px;
  line-height: 0px;
}

.list li p {
  display: flex;
  align-self: start;
}

.starImage {
  height: 20px;
  width: 200px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-right: 40px;
}

@media (max-width:888.9px) {
  .starImage {
    width: 150px;
  }
}

@media (max-width:543.9px) {
  .starImage {
    width: 120px;
  }
}

@media (max-width:522.9px) {
  .starImage {
    margin-right: 20px;
  }
}

@media (max-width:393.9px) {
  .starImage {
    width: 171px;
    margin-top: -30px;
    margin-left: 48px;
  }
}

.mainDiv {
  display: flex;
  justify-content: space-between;

}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100px;
}

.nav {
  color: #FFFFFF;
  height: 104px;
  color: white;
  background-color: black;
  padding: 0px 40px;
  gap: 500px;
  width: 100%;
  justify-content: space-between;
}

@media (max-width:1466px) {
  .nav {
    gap: 450px;
  }
}

@media (max-width:1416px) {
  .nav {
    gap: 400px;
  }
}

@media (max-width:1365.8px) {
  .nav {
    gap: 350px;
  }
}

@media (max-width:1316px) {
  .nav {
    gap: 300px;
  }
}

@media (max-width:1212px) {
  .nav {
    gap: 250px;
  }
}

@media (max-width:1161.8px) {
  .nav {
    gap: 200px;
  }
}

@media (max-width:1021.8px) {
  .nav {
    gap: 150px;
  }
}

@media (max-width:872.8px) {
  .nav {
    gap: 100px;
  }
}

@media (max-width:823.8px) {
  .nav {
    gap: 50px;
  }
}

@media (max-width:728.8px) {
  .nav {
    gap: 30px;
  }
}

@media (max-width:678.8px) {
  .nav {
    flex-direction: column;
  }
}

@media (max-width:380.8px) {
  .nav {
    width: 105%;
  }
}

.menuList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width:1270.9px) {
  .menuList {
    gap: 35px;
  }
}

@media (max-width:1257.9px) {
  .menuList {
    gap: 30px;
  }
}

@media (max-width:1240.9px) {
  .menuList {
    gap: 27px;
  }
}

@media (max-width:1232.9px) {
  .menuList {
    gap: 20px;
  }
}

@media (max-width:1217.9px) {
  .menuList {
    gap: 20px;
  }
}

@media (max-width:972.9px) {
  .menuList {
    gap: 17px;
  }
}

.menuList li {
  display: flex;
  gap: 2px;
  font-size: 17px;
}

@media (max-width:1112px) {
  .menuList li {
    font-size: 15px;
  }
}

@media (max-width:1066.8px) {
  .menuList li {
    font-size: 13px;
  }
}

@media (max-width:965.8px) {
  .menuList li {
    font-size: 12px;
  }
}

@media (max-width:772.8px) {
  .menuList li {
    font-size: 10px;
    margin-bottom: -20px;
  }
}

@media (max-width:678.9px) {
  .menuList li {
    margin-top: -30px;
  }
}

@media (max-width:497.9px) {
  .menuList li {
    gap: 3;
    margin-left: -4px;
  }
}

@media (max-width:481.9px) {
  .menuList li {
    font-size: 8px;
  }
}

@media (max-width:436.9px) {
  .menuList li {
    margin-left: -14px;
    align-items: self-start;
  }
}

@media (max-width:385.9px) {
  .menuList li {
    font-size: 7px;

  }
}

.menuList span {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0px 8px;
  font-size: 10px;
  font-weight: bold;
}

@media (max-width:965.8px) {
  .menuList span {
    padding: 0px 6px;
  }
}

@media (max-width:396.8px) {
  .menuList span {
    padding: 0px 5px;
    font-size: 8px;
  }
}

@media (max-width:396.8px) {
  .menuList span {
    font-size: 7px;
  }
}

.active {
  background-color: white;
  color: black;
}

@media (max-width:925px) {
  .logo {
    height: 20px;
    width: 180px;
  }
}

@media (max-width:708px) {
  .logo {
    height: 20px;
    width: 150px;
  }
}

@media (max-width:678.9px) {
  .logo {
    height: auto;
    margin-top: 23px;
    width: 220px;
  }
}