.mainDiv{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 8px;
}

.text{
    color: #BEBEBE;
    font-size: 20px;
}

.text .icon {
    padding-bottom: 2px;
}

.lab{
    padding: 10px 0px;
    color: black;
    font-weight: 600;
}

.inputs{
    padding: 5px 34px 5px 8px;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
}
.documents{
    padding-top: 15px;
    height: 170px;
    width: 170px;
}
.ifsc{
    padding: 5px 200px 5px 8px;
    border: 2px solid #BEBEBE;
    border-radius: 5px; 
}

.passbook{
    padding: 5px 50px 5px 8px;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
    border-style: none;
}

.formError{
    color: red;
    font-size: 15px;
}

.btn{
    padding: 3px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #909090;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 15px;
}

.Btn{
    background-color: transparent;
    padding: 0px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 57px;
    margin-top: 6px;
    border: 1.3px solid #858585;
}

.uploadIcon{
    margin-left: -10px;
    height: 30px;
 }

@media (max-width:769px){
    .mainDiv{
        margin-top: 29px;
    }
}

@media(max-width:619px){
    .ifsc{
        padding: 5px 0px 5px 8px;
    }
}

@media(max-width:467px){
    .mainDiv{
        padding: 30px 14px;
    }
}

@media(max-width:407px){
    .inputs{
        padding: 5px 0px 5px 8px;
    }
    
    .ifsc{
        padding: 5px 0px 5px 8px;
    }
    
    .passbook{
        padding: 5px 0px 5px 8px;}

}

@media(max-width:355px){
    .mainDiv{
        padding: 30px 4px;
    }
}

@media(max-width:333px){
    .mainDiv{
        padding: 30px 30px;
    }
}