.mainDiv {
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 8px;
}

.text p {
    font-size: 20px;
    font-weight: 600;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monthYear .calIcon {
    font-size: 25px;
}

.monthYear span {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

.reactslider{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.paperone{
    height: auto;
    width: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    line-height: 13px;
    border-radius: 4px;
    padding-top: 5px; 
}

button{
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    background-color: #fff;
}

.paperone button {
    border: none;
    background-color: #fff;
}

.paperone p{
    text-align: center;
    line-height: 17px;
}

.paperone p .days{
    color: #BEBEBE;
    font-weight: 600;
}

.paperone p .date{
    color: black;
    font-weight: 650;
    font-size: 20px;
}


.buttonClicked{
    background-color: black;
}

.buttonClicked .paperClicked p span{
    color: #fff;
}


.appointmentdetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: -5px; */
}

.imgDiv img {
    width: 72px;
    height: auto;
    border-radius: 11p
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* .details{
    padding-right: 100px;
} */

.paper {
    background-color: #fff;
    border: 2px solid #BEBEBE;
    border-radius: 6px;
    padding: 9px 6px;
    margin-top: 8px;
}

.details p {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    padding-top: 7px;
}

.details p .spanOne {
    font-size: 12px;
    font-weight: 600;
    color: #BEBEBE;
}

.details p .spanTwo {
    font-size: 10px;
    color: #BEBEBE;

}

.dots {
    color: #BEBEBE;
}

.horizonIcon p {
    font-size: 9px;
}

.view {
    text-align: center;
    margin-top: 5px;
    color: #909090;
    font-size: 12px;
}





@media (max-width:1160px) {
    .details {
        padding-right: 2px;
    }

    .details p {
        font-size: 12px;
    }

    .details p .spanOne {
        font-size: 10px;
    }

    .details p .spanTwo {
        font-size: 9px;
    }
}

@media (max-width:1055px) {

    .imgDiv img {
        width: 54px;
    }

    .details p {
        line-height: 12px;
    }
}

@media (max-width:1006px) {
    .appointmentdetails {
        flex-direction: row;
    }

    .content {
        flex-direction: row;
    }

    .imgDiv img {
        width: 43px;
        border-radius: 7px;
    }

    .details p {
        line-height: 11px;
        font-size: 10px;
        text-align: start;
    }

    .details p .spanOne {
        font-size: 9px;
    }

    .details p .spanTwo {
        font-size: 8px;
    }

    .content {
        gap: 5px;
    }

    .paper {
        padding: 0px 1px;
    }
}

@media (max-width:913px) {
    .imgDiv img {
        width: 35px;
    }

    .details {
        padding-top: 9px;
    }

    .details p {
        font-size: 8px;
    }

    .details p .spanOne {
        font-size: 7px;
    }

    .details p .spanTwo {
        font-size: 6px;
    }

    .dots {
        font-size: 16px;
    }

    .horizonIcon p {
        font-size: 6px;
    }

}

@media(max-width:769px) {
    .appointmentdetails {
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        flex-direction: row;
    }

    .paper{
        padding: 0px 10px;
    }

    .imgDiv img {
        width: 64px;
    }

    .details {
        padding-top: 9px;
    }

    .details p {
        font-size: 16px;
        line-height: 17px;
    }

    .details p .spanOne {
        font-size: 12px;
    }

    .details p .spanTwo {
        font-size: 10px;
    }

    
    .horizonIcon .dots {
        font-size: 28px;
    }

    .horizonIcon p {
        font-size: 10px;
        font-weight: 600;
        color: #BEBEBE;
    }
}

@media (max-width:373px) {
    .imgDiv img {
        width: 61px;
    }

    .details p {
        line-height: 14px;
    }

    .monthYear span {
        font-size: 17px;
    }

    .text p {
        font-size: 16px;
        font-weight: 700;
    }
}