
.paper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #BEBEBE;
    border-radius: 4.319px;
    padding: 0px 6px;
    gap: 7px;
}

.mainDiv{
    background-color: #fff;
    padding: 13px 25px;
    border-radius: 5px;
}

.hairStyle{
    font-size: 10px;
    font-weight: bold;
}

.hairStylist{
    height: auto;
    width: 56px;
    padding-top: 10px;
}

.mainDiv div{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 10px;
}

@media(max-width:1498px){
    .mainDiv div{
        padding: 0px 6px;
    }
}

@media(max-width:1384px){
    .mainDiv div{
        padding: 0px 4px;
    }
}

@media(max-width:1200px){
    .hairStylist{
        width: 77px;
    }

    .hairStyle{
        font-size: 12px;
    }

    .mainDiv div{
        padding: 0px 21px;
    }
}

@media(max-width:1055px){
    .hairStylist{
        width: 81px;
    }
}

@media(max-width:877px){
    .mainDiv div{
        padding: 0px 14px;
    }
}


@media (max-width:768px){
    .mainDiv{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:752px){
    .mainDiv div{
        padding: 0px 9px;
    }
}

@media(max-width:661px){
    .mainDiv div{
        padding: 0px 5px;
    }
}

@media(max-width:589px){
    .mainDiv div{
        padding: 0px 2px;
    }
}

@media(max-width:536px){
    .hairStylist{
        width: 57px;
    }

    .hairStyle{
        font-size: 10px;
    }
}

@media(max-width:440px){
    .hairStylist{
        width: 47px;
    }

    .hairStyle{
        font-size: 8px;
    }
}

@media(max-width:400px){
    .hairStylist{
        width: 37px;
    }

    .hairStyle{
        font-size: 7px;
    }
}


@media (max-width:365px){
    .paper{
        margin-top: 8px;
    }
    .hairStylist{
        width: 82px;
    }

    .hairStyle{
        font-size: 10px;
    }
}

