.mainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px;
}

.content{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.maincontent{
    /* padding: 3px 15px; */
}
.clientDetails{
    text-align: start;
    padding: 10px 0px;
    line-height: 14px;
}
.border{
    border-radius: 7px;
    height: 100px;
    
    
}

.appointmentDetails{
    text-align: start;
    padding: 10px 0px;
    line-height: 14px;
}

.serviceDetails{
    text-align: start;
    padding: 10px 0px;
    line-height: 14px;
}

.cancelledDetails{
    text-align: start;
    padding: 10px 0px;
    line-height: 14px;
}


.clientImage{
    background-color: black;
    border-radius: 5px;
    padding: 1px 2px;
}

.appointmentImage {
    background-color: black;
    border-radius: 5px;
}

.serviceImage img {
    background-color: black;
    border-radius: 5px;
    padding: 7px 11px;
}

.cancelledImage {
    background-color: black;
    border-radius: 5px;
}

.clientDetails p{
    font-size: 13px;
    font-weight: 630;
    padding-top: 15px;
}

.appointmentDetails p{
    font-size: 13px;
    font-weight: 630;
    padding-top: 15px;
}

.serviceDetails p{
    font-size: 13px;
    font-weight: 630;
    padding-top: 15px;
}

.cancelledDetails p{
    font-size: 13px;
    font-weight: 630;
    padding-top: 15px;
}

.clientDetails p .spanOne{
    font-size: 8px;
    color: #909090;
   
}

.appointmentDetails p .spanOne{
    font-size: 8px;
    color: #909090;
   
}

.serviceDetails p .spanOne{
    font-size: 8px;
    color: #909090;
   
}

.cancelledDetails p .spanOne{
    font-size: 8px;
    color: #909090;
   
}

.clientDetails p .spanTwo{
    font-size: 15px;
    font-weight: 630;
    color: #909090;
}

.appointmentDetails p .spanTwo{
    font-size: 15px;
    font-weight: 630;
    color: #909090;
}

.serviceDetails p .spanTwo{
    font-size: 15px;
    font-weight: 630;
    color: #909090;
}

.cancelledDetails p .spanTwo{
    font-size: 15px;
    font-weight: 630;
    color: #909090;
}

.dots{
    margin-top: -38px;
    color: #BEBEBE;
}

.clientImage .clipIcon{
    font-size: 60px;
}


.salesDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    height: 116.5px;
}

.square{
    padding-top: 50px;
}
.square h5{
    position: relative;
    top: 34px;
    right: 6px;
    font-weight: 700;
}

.square p{
    position: relative;
    bottom: 60px;
    right: 15px;  
}

.square .p1{
    margin-top: 10px;
    margin-left: 9px;
    font-size: 10px;
    color: #909090;
    font-weight: 600

}

.square .p2{
    position: relative;
    left: -4.5px;
    bottom: 78px;
    font-size: 10px;
    font-weight: 600
}

.sales {
    line-height: 18px;
    position: relative;
    top: -16px;
    padding-top: 40px;
}

.sales p{
    font-weight: 700;
    color: #909090;
    line-height: 15px;
}

.sales .spanOne{
    font-weight: 700;
    color: #000;
}

.sales .spanTwo{
    font-size: 8px;
    color: #000;
}



.lines .redLine{
    padding-left: 81px;
}

.lines .greenLine{
    padding-left: 81px;
    position: relative;
    bottom: 40px;
}

@media (max-width:1182px){
    .clientDetails p{
        font-size: 14px;
    }

    .appointmentDetails p{
        font-size: 14px;
    }

    .serviceDetails p{
        font-size: 14px;
    }

    .cancelledDetails p{
        font-size: 12px;
    }
}

@media(max-width:1108px){
    .clientImage{
        width: 52px;
    }

    .clientDetails p{
        font-size: 11px;
    }

    .appointmentDetails p{
        font-size: 11px;
    }

    .serviceDetails p{
        font-size: 11px;
    }

    .cancelledDetails p{
        font-size: 11px;
    }

    .clientDetails p .spanOne{
        font-size: 6px;
    }

    .appointmentDetails p .spanOne{
        font-size: 6px;
    }

    .serviceDetails p .spanOne{
        font-size: 6px;
    }

    .cancelledDetails p .spanOne{
        font-size: 6px;
    }

    .clientDetails p .spanTwo{
        font-size: 12px;
    }

    .appointmentDetails p .spanTwo{
        font-size: 12px;
    }

    .serviceDetails p .spanTwo{
        font-size: 12px;
    }

    .cancelledDetails p .spanTwo{
        font-size: 12px;
    }

}

@media (max-width:992px){
    .clientImage{
        width: 52px;
    }

    .clientDetails p{
        font-size: 11px;
    }

    .appointmentDetails p{
        font-size: 11px;
    }

    .serviceDetails p{
        font-size: 11px;
    }

    .cancelledDetails p{
        font-size: 11px;
    }

    .clientDetails p .spanOne{
        font-size: 6px;
    }

    .appointmentDetails p .spanOne{
        font-size: 6px;
    }

    .serviceDetails p .spanOne{
        font-size: 6px;
    }

    .cancelledDetails p .spanOne{
        font-size: 6px;
    }

    .clientDetails p .spanTwo{
        font-size: 12px;
    }

    .appointmentDetails p .spanTwo{
        font-size: 12px;
    }

    .serviceDetails p .spanTwo{
        font-size: 12px;
    }

    .cancelledDetails p .spanTwo{
        font-size: 12px;
    }
}

@media(max-width:768px){
    .border{
        margin-top: 10px;
    }

    .clientDetails p{
        font-size: 15px;
    }

    .appointmentDetails p{
        font-size: 15px;
    }

    .serviceDetails p{
        font-size: 15px;
    }

    .cancelledDetails p{
        font-size: 15px;
    }

    .clientDetails p .spanOne{
        font-size: 10px;
    }

    .appointmentDetails p .spanOne{
        font-size: 10px;
    }

    .serviceDetails p .spanOne{
        font-size: 10px;
    }

    .cancelledDetails p .spanOne{
        font-size: 10px;
    }

    .clientDetails p .spanTwo{
        font-size: 15px;
    }

    .appointmentDetails p .spanTwo{
        font-size: 15px;
    }

    .serviceDetails p .spanTwo{
        font-size: 15px;
    }

    .cancelledDetails p .spanTwo{
        font-size: 15px;
    }
}









