.mainDiv{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:4px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #BEBEBE;
    margin-top: 10px;
    padding: 0px 15px;
}

.stylist{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.aboutStylist p{
    font-size: 15px;
    font-weight: bold;
    padding-top: 23px;
    line-height: 17px;
}

.aboutStylist p .spanOne{
    font-size: 9px;
    font-weight: bold;
    color: #909090;
}

.aboutStylist p .spanTwo{
    font-size: 9px;
    color: #909090;
}

.dots{
    margin-bottom: 45px;
    color: #909090;
    margin-left: 20px;
    margin-top: 7px;
}

@media (max-width:1360px){
    .stylist div img{
        height: auto;
        width: 85px;
    }
}

@media (max-width:1262px){
    .dots{
        margin-bottom: 67px;
        margin-left: -25px;
    }

    
.aboutStylist p .spanTwo{
    font-size: 8px;
}
}

@media (max-width:1154px){
    .paper{
        padding: 0px 10px;
    }
}

@media (max-width:882px){
    .stylist div img{
        width: 71px;
    }

    .aboutStylist p{
        line-height: 13px;
    }
}