.imgDiv {
  display: flex;
  justify-content: space-between;
  height: 230px;
  width: 230px;
  border-radius: 15px;
}
.mainDiv {
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 8px;
  font-family: Axiforma;
}
.lab {
  font-weight: 600;
  font-size: 15px;
  padding-top: 10px;
  font-family: Axiforma;
}
.inputs {
  border: 2px solid #a8a8a8;
  padding: 5px 70px 5px 15px;
  border-radius: 5px;
  font-size: 19px;
  font-family: Axiforma;
  color: #a8a8a8;
}
.email {
  border: 2px solid #a8a8a8;
  padding: 5px 300px 5px 15px;
  border-radius: 5px;
  font-size: 19px;
  color: #a8a8a8;
}
.gst {
  border: 2px solid #a8a8a8;
  padding: 5px 300px 5px 15px;
  border-radius: 5px;
  font-size: 19px;
  color: #a8a8a8;
}
@media (max-width: 992px) {
  .email {
    padding: 5px 200px 5px 15px;
  }
  @media (max-width: 767px) {
    .mainDiv {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .email {
      padding: 5px 70px 5px 10px;
    }
  }
  @media (max-width: 575px) {
    .imgDiv {
      height: 150px;
      width: 150px;
    }
    .email {
      padding: 5px 10px 5px 10px;
    }
    .inputs {
      padding: 5px 10px 5px 10px;
    }
  }
}
