.mainDiv{
    padding: 20px 40px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 350px;
}


.form span{
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
}

.form .input1{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px 190px 5px 5px;
    color: #909090;
}

.form .input2{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 140px 5px 5px;
    color: #909090;
}

.form .input3{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 165px 5px 5px;
    color: #909090;
    margin-bottom: 10px;
    outline: none;

}


.form .spanOne{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
     padding-left: 10px;
}

.form .input4{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px 120px 5px 5px;
    color: #909090;
    outline: none;

}
 .categoryField{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 160px 5px 12px;
    color: #909090;
    outline: none;
}
.form .input5{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 120px 5px 12px;
    color: #909090;
    outline: none;

}

.form .input6{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 120px 5px 12px;
    color: #909090;
    outline: none;

}
 .gender{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 188px 5px 12px;
    color: #909090;
    outline: none;

}
.form .button{
    margin-top: 30px;
    border-radius: 10px;
    background-color:#000;
    color: #fff;
    padding: 8px 40px;
}

.secDiv img{
    padding-top: 44px;
}
.error{
    color: red;
}
.uploadBtn {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




.secDiv .about{
    font-size: 20px;
    font-weight: 600;
    color: #909090;
}
.form .input{
    border: 2px solid #909090;
    border-radius: 8px;
    margin-top: 30px;
    padding: 5px 230px 5px 5px;
    color: #909090;
    outline: none;
}

@media (max-width:767px){
.mainDiv  {
    display: flex;
  justify-content: center;
}
@media (max-width:575px){
    .form .button{
  margin-right: 50px;
}}
}
    
